@import "tailwindcss";

@theme {
  --color-primary-50: #f5f0f6;
  --color-primary-100: #e8d9ea;
  --color-primary-200: #ddd6fe;
  --color-primary-300: #c4b5fd;
  --color-primary-400: #a78bfa;
  --color-primary-500: #8b5cf6;
  --color-primary-600: #7c4585;
  --color-primary-700: #4f1c51;
  --color-primary-800: #5b21b6;
  --color-primary-900: #4c1d95;

  --color-accent-50: #fff1eb;
  --color-accent-100: #ffd9c2;
  --color-accent-200: #fed7aa;
  --color-accent-300: #fdba74;
  --color-accent-400: #fb923c;
  --color-accent-500: #ff714b;
  --color-accent-600: #eb5b00;
  --color-accent-700: #c2410c;
  --color-accent-800: #9a3412;
  --color-accent-900: #7c2d12;
}

:root {
  --bg: #ffffff;
  --fg: #18181b;
}

.dark {
  --bg: #18181b;
  --fg: #f4f4f5;
}

body {
  background-color: var(--bg);
  color: var(--fg);
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
}
